body {
  position: relative;
  background-color: rgba(0, 0, 0, 0.14);
}
/*登录注册模态框*/
.motal-login .modal-body .form-group input:focus {
  border-color: #f54a4a;
}
.motal-login .modal-body .form-group button {
  color: white;
}
.motal-login .modal-body .form-group button:hover {
  background-color: #f54a4a;
}
.motal-login .modal-body p a:hover {
  color: #f54a4a;
}
.motal-login .modal-body h4 a:hover {
  color: #f54a4a;
}
/*顶部导航*/
#top-nav ul li {
  font-size: 20px;
  padding-top: 10px;
}
#top-nav ul li .nav-active {
  color: #f50440;
}
#top-nav ul li a {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  color: black;
}
#top-nav ul li a:hover {
  color: #f50440;
}
#top-nav ul li .nav-pinggu {
  margin-right: 20px;
  margin-bottom: 10px;
  border: 1px solid #c5c5c5;
}
#top-nav ul li .nav-pinggu:hover {
  background-color: #f54910;
  color: white;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
}
/*首页*/
#swiper-container {
  font-size: 18px;
  background: #fff;
}
#swiper-container .overflow {
  overflow: hidden;
}
#swiper-container #swiper-slide1 {
  background-image: url("../imgs/1-page.png");
  background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
}
#swiper-container #swiper-slide1 #article1 {
  width: 300px;
  padding: 20px;
  margin-left: 180px;
  margin-top: 50px;
  font-size: 14px;
  -webkit-box-shadow: inset 0 0 10px white,inset 0 0 20px pink,inset 0 0 30px blue;
}
#swiper-container #swiper-slide1 #article2 {
  width: 170px;
  margin-left: 900px;
  font-size: 14px;
  padding: 20px;
  -webkit-box-shadow: inset 0 0 10px white,inset 0 0 30px blue;
}
#swiper-container #swiper-slide1 #article3 {
  width: 200px;
  padding: 20px;
  font-size: 14px;
  margin-left: 700px;
  margin-top: 120px;
  -webkit-box-shadow: inset 0 0 10px white,inset 0 0 20px red,inset 0 0 30px blue;
}
#swiper-container #swiper-slide2 {
  position: relative;
  background-image: white ;
  background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
}
#swiper-container #swiper-slide2 #article4 {
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -500px;
  font-size: 14px;
  padding: 20px;
  width: 999px;
  height: 500px;
}
#swiper-container #swiper-slide2 #article4 img {
  margin-top: -140px;
  width: 450px;
}
#swiper-container #swiper-slide3 {
  position: relative;
  background-image: white ;
  background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
}
#swiper-container #swiper-slide3 #article5 {
  position: absolute;
  text-align: center;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -450px;
  font-size: 14px;
  width: 900px;
  height: 600px;
}
#swiper-container #swiper-slide3 #sq {
  margin-left: 240px;
}
#swiper-container #swiper-slide3 #sq .grid {
  display: table;
  border-spacing: 20px;
}
#swiper-container #swiper-slide3 #sq .grid-row {
  display: table-row;
  border-spacing: 20px;
}
#swiper-container #swiper-slide3 #sq .image {
  display: table-cell;
  width: 150px;
}
#swiper-container #swiper-slide3 #sq img {
  width: 150px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
#swiper-container #swiper-slide3 #sq img:hover {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moze-transform: scale(1.05);
}
#swiper-container #swiper-slide4 {
  position: relative;
  background-image: white ;
  background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
}
#swiper-container #swiper-slide4 #article6 {
  position: absolute;
  font-size: 14px;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -350px;
  width: 730px;
  height: 600px;
}
#swiper-container #swiper-slide4 #article6 .swiper-slide:hover {
  color: #ec971f;
}
#swiper-container #swiper-slide4 #article6 .swiper-slide:hover .bottom-block {
  transform: translate(0px, -45px);
  -webkit-transform: translate(0px, -45px);
  -moz-transform: translate(0px, -45px);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
#swiper-container #swiper-slide4 #article6 h2 {
  margin-bottom: 30px;
}
#swiper-container #swiper-slide4 #article6 img {
  width: 150px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border: 3px solid rgba(2, 3, 6, 0.63);
}
#swiper-container #swiper-slide4 #article6 h3 {
  font-size: 140px;
}
#swiper-container #swiper-slide4 #article6 p {
  margin-bottom: 60px;
}
#swiper-container #swiper-slide4 #article6 #arrows2 {
  margin-top: 120px;
}
#swiper-container #swiper-slide4 #article6 .bottom-block {
  margin: 0 auto;
  width: 120px;
  height: 800px;
  background-color: rgba(203, 119, 236, 0.81);
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
}
#swiper-container #swiper-slide4 #article6 .swiper-button-prev,
#swiper-container #swiper-slide4 #article6 .swiper-container-rtl .swiper-button-next {
  left: -160px;
  top: 50%;
  right: auto;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
#swiper-container #swiper-slide4 #article6 .swiper-button-prev:hover,
#swiper-container #swiper-slide4 #article6 .swiper-container-rtl .swiper-button-next:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moze-transform: scale(1.5);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
#swiper-container #swiper-slide4 #article6 .swiper-button-next,
#swiper-container #swiper-slide4 #article6 .swiper-container-rtl .swiper-button-prev {
  right: -160px;
  top: 50%;
  left: auto;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
#swiper-container #swiper-slide4 #article6 .swiper-button-next:hover,
#swiper-container #swiper-slide4 #article6 .swiper-container-rtl .swiper-button-prev:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moze-transform: scale(1.5);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
#swiper-container #swiper-slide5 {
  position: relative;
  background-color: rgba(236, 151, 31, 0.31);
}
#swiper-container #swiper-slide5 #article7 {
  position: absolute;
  top: 50%;
  margin-top: -200px;
  left: 50%;
  margin-left: -450px;
  font-size: 14px;
  width: 900px;
  height: 300px;
}
#swiper-container #swiper-slide5 #article7 h2 {
  margin-bottom: 10px;
}
#swiper-container #swiper-slide5 #article7 article {
  margin-bottom: 0px;
  font-size: 14px;
}
#swiper-container #swiper-slide5 #article7 article p {
  margin-bottom: 1px;
}
#swiper-container #swiper-slide5 #article7 .swiper-wrapper h3 {
  font-size: 18px;
  color: black;
}
#swiper-container #swiper-slide5 #article7 .swiper-wrapper p {
  margin-bottom: 0px;
  font-size: small;
}
#swiper-container #swiper-slide5 #article7 img {
  margin-top: 20px;
  width: 150px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border: 5px solid #ffb11c;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
#swiper-container #swiper-slide5 #article7 img:hover {
  border: 5px solid #f51a0d;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moze-transform: scale(1.05);
}
#swiper-container #swiper-slide5 #article7 button {
  margin-top: 0px;
  width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f4f3f5;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border: 1px solid;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
#swiper-container #swiper-slide5 #article7 button:hover {
  background-color: #f51a0d;
  color: white;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.9;
  -webkit-transition: all 0.9;
  -moz-transition: all 0.9;
}
#swiper-container #swiper-slide5 #article7 .swiper-button-prev,
#swiper-container #swiper-slide5 #article7 .swiper-container-rtl .swiper-button-next {
  left: -140px;
  top: 70%;
  right: auto;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
#swiper-container #swiper-slide5 #article7 .swiper-button-prev:hover,
#swiper-container #swiper-slide5 #article7 .swiper-container-rtl .swiper-button-next:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moze-transform: scale(1.5);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
#swiper-container #swiper-slide5 #article7 .swiper-button-next,
#swiper-container #swiper-slide5 #article7 .swiper-container-rtl .swiper-button-prev {
  right: -140px;
  top: 70%;
  left: auto;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
#swiper-container #swiper-slide5 #article7 .swiper-button-next:hover,
#swiper-container #swiper-slide5 #article7 .swiper-container-rtl .swiper-button-prev:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moze-transform: scale(1.5);
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
#swiper-container #swiper-slide5 #footer-nav {
  position: absolute;
  bottom: -20px;
  padding-right: 0;
  padding-left: 0;
  max-height: 340px;
  right: 0;
  left: 0;
}
/*项目展示*/
#zhanshi {
  margin-top: 100px;
}
#zhanshi .col-sm-3 {
  padding-left: 5px;
  padding-right: 5px;
}
#zhanshi .col-sm-3 .thumbnail:hover {
  border-color: #f5210b;
}
#zhanshi .col-sm-3 .thumbnail h4 {
  font-size: 16px;
  color: black;
}
#zhanshi .col-sm-3 .thumbnail img {
  width: 80px;
  height: 80px;
  margin-top: 35px;
  margin-bottom: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
#zhanshi .col-sm-3 .thumbnail p {
  font-size: 10px;
  color: #94978e;
  padding: 30px;
}
#zhanshi .col-sm-3 .thumbnail button {
  margin-top: 180px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
#zhanshi .col-sm-3 .thumbnail button:hover {
  color: white;
  background-color: #f5210b;
  transform: scale(0.2s);
  -webkit-transform: scale(0.2s);
  -moze-transform: scale(0.2s);
}
#zhanshi .col-sm-3 .thumbnail:hover {
  text-decoration: none;
}
/*关于我们*/
#guanyuwomen {
  margin-top: 100px;
}
#guanyuwomen #cover {
  background-color: white;
  height: 1200px;
  width: 1000px;
  margin-bottom: 100px;
}
#guanyuwomen #cover article {
  width: 940px;
  height: 230px;
}
#guanyuwomen #cover article h2 {
  margin-top: 70px;
}
#guanyuwomen #cover article p {
  margin-bottom: 20px;
}
#guanyuwomen #cover article .swiper-slide {
  margin-top: 20px;
  border: 1px solid #e1e1e1;
  height: 180px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
#guanyuwomen #cover article .swiper-slide:hover {
  border: 1px solid #f5210b;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
#guanyuwomen #cover article .swiper-slide h5 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  color: #f5210b;
}
#guanyuwomen #cover article .swiper-slide p {
  text-align: left;
  padding: 15px;
}
#guanyuwomen #cover article article h3 {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #f5210b;
}
/*我的评估*/
body #pinggu {
  width: 700px;
}
body #pinggu #assess p {
  padding: 50px;
  background-color: white;
  font-size: 22px;
  border: 1px solid #bdc0b7;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
}
body #pinggu #assess p:hover {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  border: 1px solid #f5210b;
}
/*联系我们*/
#lianxiwomen {
  position: relative;
}
#lianxiwomen article {
  position: absolute;
  top: 50%;
  margin-top: 100px;
  left: 50%;
  margin-left: -350px;
  padding: 40px;
  background-color: white;
  width: 700px;
}
#lianxiwomen article #lianxi {
  width: 400px;
}
#lianxiwomen article img {
  margin-top: 30px;
}
/*项目评估*/
body #xiangmupinggu {
  margin-top: 100px;
}
body #xiangmupinggu article {
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 700px;
}
body #xiangmupinggu article #description {
  margin-bottom: 60px;
}
body #xiangmupinggu article form input {
  font-size: 16px;
}
body #xiangmupinggu article form #yusuan input[type="radio"] {
  display: none;
}
body #xiangmupinggu article form #yusuan .select {
  padding-left: 30px;
  cursor: pointer;
}
body #xiangmupinggu article form #yusuan .unselect {
  padding-left: 30px;
  cursor: pointer;
}
body #xiangmupinggu article form #codi-btn {
  background-color: #f54910;
  color: white;
}
body #xiangmupinggu article form #pinggu-btn {
  margin-top: 10px;
  width: 150px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #f54a4a;
  color: white;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border: 1px solid;
  font-size: 20px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
body #xiangmupinggu article form #pinggu-btn:hover {
  background-color: #f52b07;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  left: -30%;
  width: 220px;
  height: 44px;
  margin-top: -20px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: -50px;
  top: 30%;
  right: auto;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: -120px;
  top: 30%;
  left: auto;
}
