body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color:#000;
	margin: 0;
	padding-top: 0px;
}
.swiper-slide {
	font-size: 18px;
	background: #fff;
}
#swiper-slide1{
	background-image: url("../imgs/1-page.png") ;
	-webkit-background-size: 100%;
}
#swiper-slide1 article{
	color:white;
	background-color: rgba(4, 4, 4, 0.25);
}
#article1{
    width: 300px;
	padding:20px;
	margin-left:180px;
	margin-top:50px;
	font-size: 14px;
	-webkit-box-shadow:inset 0 0 10px white,inset 0 0 20px pink,inset 0 0 30px blue;
 }
#article2{
	width: 170px;
	margin-left:900px;
	font-size: 14px;
	padding:20px;
	-webkit-box-shadow:inset 0 0 10px white,inset 0 0 30px blue;
}
#article3{
	width: 200px;
	padding:20px;
	font-size: 14px;
	margin-left:700px;
	margin-top:120px;
	-webkit-box-shadow:inset 0 0 10px white,inset 0 0 20px red,inset 0 0 30px blue;
}
#article4{
	text-align:center;
	margin-top:80px;
	font-size: 14px
}
#article5{
	text-align:center;
	margin-top:80px;
	font-size: 14px
}
#article6{
	text-align:center;
	margin-top:80px;
	font-size: 14px
}
#swiper-slide2{
	background-image: url("../imgs/2-page.png") ;
	-webkit-background-size: 100%;
}
#swiper-slide3{
	background-image: url("../imgs/3-page.png") ;
	-webkit-background-size: 100%;
}
#swiper-slide4{
	background-image: url("../imgs/4-page.png") ;
	-webkit-background-size: 100%;
}
#swiper-slide5{
	background-image: url("../imgs/1-page.png") ;
	-webkit-background-size: 100%;
}
#top-nav{
	text-align:center;
}
#userName{
	width:300px;
}
h4{
	display: block;
}
#nav{
	position: relative;
}
/*
#top-nav{
	width: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}*/
.red{

}
#nav{
	width:80%;
}
#top-nav a{
	color:indianred;
}
.active a{
	color:black;
}
#zhanshi{
	margin-top:100px;
	width:900px;
}
#zhanshi .col-sm-3{
	padding-left:2px;
	padding-right:2px;
}
#zhanshi button{
	margin-top:70px;
}

#zhanshi img{
	width:80px;
	height:80px;
	margin-top: 50px;
	margin-bottom:30px;
}
#zhanshi p{
	font-size: 10px;
}
#zhanshi a{
    color:black;
}
#zhanshi a:hover{
    text-decoration: none;
}
#col-1{
	background-color: #0e90d2;
	height:300px;
}
#col-2{
	background-color: aquamarine;
	height:300px;
}
#col-3{
	background-color: mediumvioletred;
	height:300px;
}
#col-4{
	background-color: #33d247;
	height:300px;
}
.space{
}
.bg-white{
    background-color :white;
}
.span3{
    background-color :white;
}

#pinggu{
    width:700px;
}
#assess p{
    padding:50px;
    background-color: white;
    font-size:22px;
}
#xiangmupinggu{
    margin-top:50px;
}
#xiangmupinggu article{
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
	width:700px;
}
#xiangmupinggu input{
	font-size:16px;
}
#xiangmupinggu label{
	margin-bottom: 15px;
}
.container-fluid{
	margin-left:50px;
	margin-right:50px;
}
#yusuan {
	font-size: 16px;
}
#description{
	margin-bottom: 60px;
}




input[type="radio"] {
	display: none;
}
.select {
	padding-left: 30px;
	cursor: pointer;
	background: url(../icon/select.png) no-repeat left;
}
.unselect{
	padding-left: 30px;
	cursor: pointer;
	background: url(../icon/unselect.png) no-repeat left;
}

